<div class="container">
  <div class="row">
    <h1>Info about the Game</h1>
    <h3>Name:</h3>
    <div style="font-size:22px"><%= @game.name %></div>

    <h3>Description:</h3>
    <div style="font-size:22px"><%= @game.description %></div>

    <h3>Platform:</h3>
    <div style="font-size:22px"><%= @game.platform %></div>
    <h3>Release Date:</h3>
    <div style="font-size:22px"><%= @game.release_day %></div>
    <h3>Last Time Played:</h3>
    <div style="font-size:22px"><%= @game.last_play_time %></div>
    <h3>Category: </h3>
    <div style="font-size:22px"><%= @game.category_name %></div>





    <br>
    <br>
    <p><%= link_to "Back to index", games_path, :class => "btn btn-primary btn-lg" %></p>
  </div>
</div>